.app-container {
  padding-top: 50px;
}

.page-content {
  padding-top: 30px;
}

.contents {
  text-align: center;
  margin-top: 30% !important;
}

button.ui.button.modal-cancel {
  float: right;
  background: white;
  margin-right: 4%;
  margin-top: 10px;
  margin-bottom: 1%;
}
button.ui.blue.button.modal-save {
  float: right;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 1%;
}
